.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  width: 50%;
  padding: 2rem 1rem;
  border: 2px solid #000;
  border-radius: 1rem;
}
